:root {
  --email-sign-up: hsl(217, 28%, 15%);
  --main-background: hsl(218, 28%, 13%);
  --footer-background: hsl(216, 53%, 9%);
  --testimonials-background: hsl(219, 30%, 18%);

  --Cyan-gradient: hsl(176, 68%, 64%);
  --Blue--gradient: hsl(198, 60%, 50%);
  --Light-Red-error: hsl(0, 100%, 63%);

  --White: hsl(0, 0%, 100%);
  --Nav-Text: hsla(0, 0%, 78%, 0.837);
  --Para-Text: hsla(0, 0%, 85%, 0.95);
  --Link: rgba(30, 244, 236, 0.943);

}

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.1s all;
  font-family: "Raleway", serif;
}

body {
  color: var(--White);
  background: var(--main-background);

  overflow-x: hidden;
}

/* Header Start */
header {
  display: flex;

  width: 100vw;
  max-height: 100px;
  background: var(--email-sign-up);


  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem;
    padding-inline: 2.5rem;
    width: 100%;

    img {
      width: 100px;
    }

    ul {
      display: flex;
      gap: 1rem;
      color: var(--Nav-Text);

      li {
        list-style: none;
        position: relative;

        &:hover {
          color: #fff;
          cursor: pointer;
          font-weight: 700;
          letter-spacing: 0.5px;
        }

        &:hover::after {
          width: 100%;
        }

        &:after {
          content: '';
          position: absolute;

          bottom: 0;
          left: 0;

          width: 0%;
          height: 1px;
          transition: .3s all;

          background: #fff;
        }
      }

    }
  }
}

/* Header End */

// Main Start

main {
  width: 100vw;
  position: relative;
  background: var(--email-sign-up);

  // Section Start
  section {
    width: 100%;
    padding: 2rem;
    position: relative;


    // Home Start
    &#home {
      display: flex;
      flex-direction: column;
      gap: 1.1rem;

      height: calc(100dvh - 100px);
      align-items: center;
      text-align: center;

      position: relative;
      z-index: 1;
      padding-bottom: 7rem;

      img {
        height: 50%;
        max-height: 350px;
      }

      h1 {
        max-width: 500px;
      }

      p {
        color: var(--Para-Text);
        font-weight: 400;
        font-size: 0.8rem;
        line-height: 20px;
        max-width: 370px;
      }

      button {
        color: var(--White);
        background: linear-gradient(to right,
            var(--Cyan-gradient),
            var(--Blue--gradient));
        font-size: 0.6rem;
        font-weight: 400;

        border-radius: 20px;
        padding: 0.6rem 3rem;
        border: none;
        cursor: pointer;

        &:hover {
          background: var(--Cyan-gradient);

        }
      }
    }

    // Home End

    // Features Start
    &#features {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      background: var(--main-background);
      position: relative;
      padding-top: 0;

      div {
        width: 100%;
        padding: 2rem;
        padding-inline: 3rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0.7rem;

        p {
          color: var(--Para-Text);
          font-weight: 400;
          font-size: 0.8rem;
          line-height: 20px;
          max-width: 350px;
        }

        &:first-child,
        &:nth-child(2) {
          padding-top: 0;
        }
      }

      &::before {
        content: '';
        position: absolute;

        top: 0;
        left: 0;
        width: 100vw;
        height: 500px;
        background: url("./images/bg-curvy-desktop.svg");
        background-size: 100vw;
        background-position: bottom;
        background-repeat: no-repeat;

        transform: translateY(-100%);
        z-index: 0;
      }
    }

    // Features End

    // About Start
    &#about {
      display: flex;
      align-items: center;
      gap: 1rem;

      max-width: 900px;
      background: var(--main-background);

      position: relative;
      left: 50%;
      transform: translateX(-50%);


      div.hero-img {
        width: 48%;
        height: 100%;
        max-height: 100%;

        img {
          width: 100%;
          max-height: 100%;
        }
      }

      div.content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 52%;
        max-height: fit-content;

        p {
          color: var(--Para-Text);
          font-weight: 400;
          font-size: 0.8rem;
          line-height: 20px;
        }

        a {
          color: var(--Link);
          display: flex;
          align-items: center;
          gap: .4rem;

          max-width: fit-content;
          text-decoration: none;
          position: relative;

          &:after {
            content: '';
            position: absolute;
            bottom: -.4rem;

            width: 100%;
            height: 1px;
            background: var(--Link);
          }
        }
      }

      &:after,
      &::before {
        content: '';
        position: absolute;

        width: 100%;
        height: 100%;
        background: var(--main-background);

        top: 0;
      }

      &:before {
        left: -100%;
      }

      &:after {
        right: -100%;
      }
    }

    // About End

    // Reviews Start
    &#reviews {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1.4rem;
      background: var(--main-background);
      padding: 3rem;

      position: relative;
      z-index: 1;

      .review {
        max-width: 300px;
        background: var(--testimonials-background);

        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1.1rem;
        padding-block: 2rem;
        border-radius: 5px;

        position: relative;

        p {
          color: var(--Para-Text);
          font-weight: 400;
          font-size: 0.8rem;
          line-height: 20px;
        }

        div {
          display: flex;
          gap: .6rem;
          align-items: center;

          img {
            width: 30px;
            border-radius: 50px;
          }

          span {
            display: flex;
            flex-direction: column;

            h3 {
              font-size: .7rem;
            }

            p {
              font-size: .6rem;
            }
          }
        }


        &:first-child {
          z-index: 6;

          &::after {
            content: '';
            position: absolute;

            width: 50px;
            height: 50px;
            background: url("./images/bg-quotes.png");
            background-repeat: no-repeat;
            background-size: contain;

            top: -30px;
            left: -10px;
            z-index: 0;


          }
        }
      }


    }

    // Reviews End



  }

  // Section End
}

// Main End


// Email Start
section#email {
  max-width: 500px;
  background: var(--email-sign-up);
  z-index: 1;

  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  text-align: center;
  padding: 2rem;

  position: relative;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  border-radius: 5px;

  box-shadow: 2px 2px 7px #00000057;

  p {
    color: var(--Para-Text);
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 20px;
  }

  div {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;


    input {
      width: 70%;


      font-size: 0.6rem;
      font-weight: 400;

      border-radius: 20px;
      padding: .6rem;
      border: none;


      &:focus {
        outline: none;
        background: var(--Para-Text);
      }

    }

    button {
      width: 30%;
      max-width: 30%;
      white-space: nowrap;

      color: var(--White);
      background: linear-gradient(to right,
          var(--Cyan-gradient),
          var(--Blue--gradient));
      font-size: 0.6rem;
      font-weight: 400;

      border-radius: 20px;
      padding: .6rem;
      border: none;
      cursor: pointer;

      &:hover {
        background: var(--Cyan-gradient);
      }
    }

  }
}

// Email End


// Footer Start
footer {
  background: var(--footer-background);
  padding: 5rem;
  padding-top: 10rem;
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  img.logo {
    width: 100px;
  }

  p {
    color: var(--Para-Text);
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 20px;

    display: flex;
    gap: 1rem;
    cursor: pointer;
  }

  .wrapper {
    display: flex;
    gap: 2.5rem;
  }

  ul {
    list-style: none;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    li {
      color: var(--Para-Text);
      font-weight: 400;
      font-size: 0.8rem;
      line-height: 20px;

      display: flex;
      align-items: center;
      gap: 1rem;

      cursor: pointer;

      &:hover {
        color: #fff;
        font-weight: 700;
        letter-spacing: 0.5px;
      }
    }


    &.social {
      flex-direction: row;
      align-items: start;
      gap: 1rem;



      li {
        width: 25px;
        height: 25px;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 1px solid white;
        border-radius: 50%;
        cursor: pointer;


        &:hover {
          border-color: var(--Link);
          color: var(--Link);
          scale: 1.1;
        }
      }
    }
  }



  .attribution {
    position: absolute;
    bottom: 2rem;

    display: flex;
    gap: 2px;

    a {
      color: var(--Link);
    }
  }
}

// Footer End





@media screen and (width < 750px) {

  main section {
    padding: 2rem !important;

    &#features {
      grid-template-columns: 1fr;


      &:after {
        background: url("./images/bg-curvy-mobile.svg");
      }
    }


    &#about {
      flex-direction: column;

      .hero-img {
        width: 100% !important;
        padding-top: 5em;
      }

      .content {
        width: 100% !important;
        padding-bottom: 10rem;
      }
    }

  }

  section#email {
    max-width: 90vw;


    div {
      gap: .5rem;

      input {
        width: 65%;
      }

      button {
        min-width: 35%;
      }
    }
  }

}
